*{
    box-sizing: border-box;
}
body{
    background-size: cover;
    background-repeat: no-repeat;
}
#container{
    display:flex;
    justify-content:center;
    align-content:center;
    flex-wrap: wrap;
    width:350px;
    height: auto;
    padding-top: 18px;
    margin-top: 270px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(22, 21, 21, 0.6);
    border-radius: 18px;
}
#search{
    border-radius: 13px;
    border-color:rgba(20, 19, 19, 0.3);
    background-color: rgba(20, 19, 19, 0.3);
    width: 250px;
    height: 35px;
    margin-left: 20px;
    margin-right: 2px;
    margin-bottom: 10px;
    color: white;
}
#mag{
    border-color:rgba(20, 19, 19, 0.3);
    background-color: rgba(20, 19, 19, 0.3);
    border-radius: 50px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
}
